.calculator{
    background-color: rgb(230, 233, 235);
}
.calculator-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 2vmin);
    color: white;
}
.calculator__inner {
    width: 375px;
    height: 600px;
    background-color: rgba(45, 55, 66, 0.23);
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 8px;
    background: rgb(140, 72, 165); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(140, 72, 165, 1) 0%, rgba(252, 160, 121, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(140, 72, 165, 1) 0%, rgba(252, 160, 121, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(140, 72, 165, 1) 0%, rgba(252, 160, 121, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c48a5', endColorstr='#fca079', GradientType=1); /* IE6-9 */
}
.calculator__window {
    border-top-left-radius: 10px;
    border-top-right-radius: 8px;
    height: 200px;
}
.calculator__result-window {
    display: flex;
    justify-content: flex-end;
}
.result {
    margin-right: 40px;
    margin-top: 40px;
    font-size: 60px;
}
.big__result{
    margin-right: 40px;
    margin-top: 40px;
    font-size: 35px;
}

.calculator__operation-window {
    display: flex;
    justify-content: flex-end;
}
.calculator__operation-window span {
    margin-right: 40px;
    margin-top: 30px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.51);
}
.counter-btns {
    height: 300px;
    border-radius: 5px;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    color: black;
    font-size: 25px;
    font-weight: 400;
    border: none;
    background-color: rgba(244, 244, 244, 0.82);
    cursor: pointer;
    height: 80px;
    width: 94px;
}
.btn:hover{
    color: orange;
}
.counter__inc-btn {
    margin-left: 15px;
}

.counter__reset-btn {
    margin-right: 15px;
}
.operator {
    background-color: rgba(234, 234, 234, 0.91);
    color: rgb(228 121 78);
}
.equal {
    background: rgb(140, 72, 165); /* Old browsers */
    color: white;
    font-size: 40px;
    border-bottom-right-radius: 8px;
}
.zero{
    border-bottom-left-radius: 8px;
    width: 188px;
}

button:focus {
    outline: none !important
}


/*dark theme*/
.calculator.dark{
    background-color: rgb(50, 50, 68);
}

.calculator.dark .calculator__inner {
    background: rgb(140, 72, 165); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(140, 72, 165, 1) 0%, rgba(252, 160, 121, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(140, 72, 165, 1) 0%, rgba(252, 160, 121, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(140, 72, 165, 1) 0%, rgba(252, 160, 121, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c48a5', endColorstr='#fca079', GradientType=1); /* IE6-9 */
}

.calculator.dark .calculator__operation-window span {
    color: rgba(255, 255, 255, 0.51);
}


.calculator.dark .btn {
    color: #ffffff;
    background-color: rgba(38, 39, 52, 0.87);
}
.calculator.dark .btn:hover{
    color: orange;
}

.calculator.dark .operator {
    background-color: rgba(38, 39, 52, 0.91);
    color: #d49167;
}
.calculator.dark .equal {
    background: rgb(140, 72, 165);
    color: white;
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 20px;
    margin-top: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color:  rgb(140, 72, 165);
}


input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


